.box1 {
    background: #0F2438;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 42px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.txtnav {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.txt__time_nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.box3 {
    margin-top: 50px;
    justify-content: space-around;
}
.btn-secondary  {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
}
.input-group {
    height: 53px;
    width: 549px;
}
.carousel-caption {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.txt__carousel_h5 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}
.txt__carousel_p {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.btn-primary {
    width: 160px;
    height: 49px;
    left: 428px;
    top: 515px;
    background: #005BB9;
    border-radius: 6px;
}
.box4 {
    display: flex;
    margin-top: 50px;
}
.btn__cart {
    width: 57px;
    height: 49px;
    left: 1565px;
    top: 383px;
    background: #005BB9;
    border-radius: 6px;
    }
.txt__action_price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.txt__action_price2 {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.txt__action_price3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
   color: #0A1A2C;
}
.action_one,
.action_two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;

}
.slider_x {
    display: flex;
    align-items: center;
    width: 431px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.slide {
    margin-top: 50px;
}
.Products {
    margin-top: 35px;

}
.more {
    margin-top: 20px;
}
.btn-slide {
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.news {
    margin-top: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.img_date {
    width: 106px;
    height: 51px;
}
.txt-news {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}
.footer,
.card_footer {
    background-color: #0C1A2A;
    }
.txt_footer {
    list-style-type: none;
}
.txt_card {
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
   color: #868DAC;
}